@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    /* COLORS */
    /* Background */
    --bg-pr: #181818;
    --bg-sc: #202020;
    --bg-td: #303030;

    /* Border */
    --brd-default: #303030;
    --brd-light: #535353;

    /* Text */
    --txt-pr: #ffffff;
    --txt-sc: #e6e6e6;
    --txt-ftd: #1890e0;

    /* Pallete */
    --pr-color: #1890e0;
    --pr-color-hv: #1580c7;
    --sc-color: #1857e0;
    --sc-color-hv: #1448b8;
    --tr-color: #18e09d;
    --tr-color-hv: #1cbd87;
  }
}

body {
  font-family: Poppins, sans-serif;
}

@layer base {
  body {
    @apply text-white bg-[var(--bg-pr)] p-4
  }

  h1 {
    @apply text-3xl font-bold
  }

  h2 {
    @apply text-2xl font-bold
  }

  input {
    @apply outline-0
  }

  ::-webkit-scrollbar {
    @apply w-[5px]
  }

  ::-webkit-scrollbar-track {
    @apply bg-white rounded-full
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-blue-500 rounded-full
  }
}

@layer components {
  .bw-input-icon-color::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}